* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/images/woman-code.png);
    font-family: raleway;
}

.banner {
    background-color: rgba(00, 00, 00, 0.8);
    background-image: url(assets/images/banner.png);
    border: 2px solid #1472B7;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.banner-content h1 {
    display: flex;
    justify-content: center;
    color: #1472B7;
    font-weight: bolder;
    margin-top: 32px; 
}

.banner-content p {
    text-align: center;
    color: #fff;
    margin-top: 24px;
}

.banner-content button {
    display: block;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 32px;

    padding: 16px 32px;
    background-color: transparent;
    color: #1472B7;
    border: 1px solid #1472B7;
    font-weight: bold;
}

#course-content {
    background-color: rgba(00, 00, 00, 1);
    border: 2px solid #1472B7;
}

#course-content h2 {
    text-align: center;
    color: #1472B7;
    font-weight: bolder;
    margin-top: 32px;
}
#course-content p {
    text-align: center;
    color: #fff;
    margin-top: 24px;
}

.modules-list {
    text-align: center;
}

.module {
    border: 1px solid #1472B7;
    border-radius: 18px;
    background-color: #252525;
    padding: 10px;

    margin: 16px 300px;
    color: #fff;
}
.module span {
    color: #1472B7;
}

#transform-world {
    display: flex;
    align-items: center;
    border: 2px solid #1472B7;
    height: 50vh;
    font-size: 32px;
    color: #fff;
    font-weight: 900;
}
#transform-world p {
    display: flex;
    max-width: 200px;
    margin: 32px 18px;
}

#professional-challenges {
    border: 2px solid #1472B7;
    text-align: center;
    color: #fff;
    background-color: #000;
}
#professional-challenges h2 {
    color: #1472B7;
    margin-top: 32px;
}
#professional-challenges p {
    margin: 0 200px;
    margin-bottom: 32px;
}

footer {
    border: 2px solid #1472B7;
    background-color: #000;
}

footer img {
    display: block;
    margin: auto;

    margin-top: 32px;
}

footer p {
    text-align: center;
    color: #fff;

    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 32px;
}
footer p a {
    color: #1472B7;
    text-decoration: none;
}